amz_cookies.txt
cookies.txt
*.html
l2_*.html
busquedas/*.html
busquedas/cookies.txt
busquedas/ck_*
busquedas/s_*.html
busquedas/r2_*.html
busquedas/r3_*.html
busquedas/r4_*.html
busquedas/t3.html
busquedas/test.html
busquedas/v.html
busquedas/v2.html
busquedas/v3.html
busquedas/c3*.txt
busquedas/ckv*.txt
busquedas/cands*.json
busquedas/lote3_raw.json
busquedas/verified.json
busquedas/__pycache__
